/* Fonts */
@font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url("../fonts/Gotham-Bold.otf")
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png");
    background-size: cover;
}

/* Team Names */
.teamName {
    position: absolute; top: 36px;
    font-family: "Gotham"; font-weight: 700; font-size: 50px;
    color: white;
    letter-spacing: 2.5px;
}
#purpleTeamName { left: 53px; }
#blueTeamName { right: 53px; }

/* Team Stars */
.teamStars {
    position: absolute; top: 108px;
    display: flex;
}
#purpleTeamStars { left: 42px; }
#blueTeamStars {
    right: 42px;
    flex-direction: row-reverse;
}
.teamStar {
    width: 26px; height: 26px;
    margin: 0 12.7px;
    border-radius: 30px;
    border: 2px solid white;
}
.teamStarFill { background-color: white; }

/* Round Name */
#roundName {
    position: absolute; left: 972px; top: 141px;
    transform: translateX(-50%);
    font-family: "Gotham"; font-weight: 700; font-size: 32px;
    letter-spacing: 2px;
    text-indent: 2px;
    color: white;
}

/* Scores */
.teamScore {
    position: absolute; top: 900px;
    font-family: "Gotham"; font-weight: 700; font-size: 45px;
    letter-spacing: 2px;
    color: white;
}
#purpleTeamScore {
    left: 198px; 
    transform: translateX(-50%);
}
#blueTeamScore {
    right: 175px;
    transform: translateX(50%);
}

/* Moving Score Bar */
.movingScoreBar {
    position: absolute; top: 901px;
    width: 0px; height: 14px;
    background-color: white;
    transition: 500ms ease-in-out;
}
#purpleMovingScoreBar { right: 50%; }
#blueMovingScoreBar { left: 50%; }