/* Fonts */
@font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url("../fonts/Gotham-Bold.otf")
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png");
    background-size: cover;
    font-family: "Gotham"; font-weight: 700; 
    background-color: #c7ecef;
}

/* Team Names */
.teamName {
    position: absolute; top: 45px;
    font-size: 42px;
    color: white;
    letter-spacing: 2px;
}
#purpleTeamName { left: 34px; } 
#blueTeamName { right: 34px; }

/* Team Stars */
.teamStars {
    position: absolute; top: 111px;
    display: flex;
    transition: 500ms ease-in-out;
}
#purpleTeamStars { left: 27px; }
.teamStars > * {
    margin-left: -16px;
    height: 61px;
}
.teamStars > *:nth-child(even) {
    margin-top: 17px;
}
#blueTeamStars {
    right: 27px;
    flex-direction: row-reverse;
}

/* Pick Cards */
.teamPickCards {
    position: absolute; left: 50%; 
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
#purpleTeamPickCards { top: 209px; }
#blueTeamPickCards { top: 556px; }
.teamPickCards > * { margin: 0 13px; }

/* Pick Card */
.pickCard {
    position: relative;
}
/* Pick Card Image */
.pickCardImageContainer {
    position: absolute; top: 13px; left: 14px;
    width: 177px; height: 312px;
    border-radius: 9px;
}
.pickCardImage {
    background-size: cover;
    background-position: center;
    width: inherit; height: inherit;
    border-radius: inherit;
}
.pickCardImage::before {
    content: '';
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(135deg, rgba(224, 224, 224, 0.1), rgba(255, 255, 255, 0.2));
    border-radius: inherit;
    filter: blur(0.5px);
    pointer-events: none;
}
/* Pick Card Winner */
.pickCardWinnerContainer {
    position: absolute; top: 13px; left: 14px;
    width: 177px; height: 312px;
    border-radius: 9px;
    opacity: 0;
}
.pickCardWinnerPurple { background-color: rgba(74,57,84,0.75); }
.pickCardWinnerBlue { background-color: rgba(36,65,72,0.75); }
.pickCardWinnerImage {
    position: absolute; left: 50%; top: 53px;
    transform: translateX(-50%);
}
/* Pick Card Mod */
.pickCardMod {
    position: absolute; left: 12px; bottom: 16px;
    width: 180px; height: 71px;
    border-radius: 0 0 9px 9px;

    font-size: 41px;
    letter-spacing: 2px;
    color: white;
    font-weight: 700;
    font-family: "Gotham";
    text-align: center;
    line-height: 71px;
    opacity: 0;
}
.pickCardModPurple { background-color: rgb(187, 164, 201); }
.pickCardModBlue { background-color: rgb(150, 221, 228); }

/* Ban Cards */
.teamBanCards {
    position: absolute; top: 588px;
    display: flex;
    flex-direction: column;
}
#purpleTeamBanCards { left: 30px;  }
#blueTeamBanCards { right: 30px; }
.banCard {
    position: relative;
    margin-bottom: 13px;
}
.banCardBackgroundImage {
    position: absolute; left: 13px; top: 12px;
    width: 156px; height: 104px;
    background-size: cover;
    background-position: center;
    border-radius: 9px;
}

/* Nav Bar */
#navbar {
    position: absolute; left: 1920px; top: 0;
    width: 500px; height: 1080px;
    background-color: #c7ecef;
    font-family: "Gotham"; font-weight: 700; 
}
/* Section */
#navbarSection1 {
    width: 250px;
}
#navbarSection2 {
    position: absolute; left: 250px; top: 0;
    width: 250px; height: 1080px;
}
/* Divider */
#divider1 {
    position: absolute; left: 249px; top: 0;
    width: 2px; height: 1080px;
    background-color: black;
}
/* Nav Bar Helpers */
h1 {
    width: inherit;
    margin-left: 22px;
    margin-bottom: 10px;
}
.navbarFullSizeButtons {
    width: 200px; height: 40px;
    margin-bottom: 10px;
    font-family: "Gotham"; font-weight: 700; 
    background-color: transparent;
    border-radius: 20px;
}
.navbarFullSizeButtons:active {
    background-color: black;
    color: white;
}
/* Next Picker Section */
#nextPickerSection {
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}
#nextPickerText {
    margin-left: 20px;
    font-size: 32px;
    margin-bottom: 20px;
}
#nextPickerButtonContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Maps Section */
#allMapsButtonContainer {
    margin-top: 20px;
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    justify-content: center;
}
.mapsButton {
    width: 100px; height: 35px;
    font-family: "Gotham"; font-weight: 700; 
    margin: 5px;
    border-radius: 20px;
    background-color: transparent;
}
.mapsButton:Active {
    background-color: black;
    color: white;
}

.pickBanManagementSelect {
    width: 200px;
    margin-top: 5px;
    margin-left: 25px;
    text-align: center;
    background-color: transparent;
    border: none;
    font-family: "Gotham"; font-weight: 700; font-size: 16px;
}
.pickBanManagementSelect option { font-family: "Gotham"; font-weight: 700; font-size: 16px; }
.whichMapButtonContainer, .whosePickButtonContainer {
    width: 250px;
    margin-top: 5px;
    margin-left: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.whichMapButton, .whosePickButton {
    width: 104.5px;
    margin-bottom: 5px;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 5px 10px;
}
#applyChangesButton {
    margin-top: 15px;
    margin-left: 25px;
    width: 200px;
}
.pickBanManagementSelect::-webkit-scrollbar {
    display: none;
}